.header {
    margin: 20px 0 14px 0;
    display: flex;
    justify-content: left;
    align-items: center;
}
.header img{
    height: 0.2rem;
    margin-right: 10px;
    margin-left: 20px;
}
.header span{
    height: 0.2rem;
    line-height: 0.2rem;
    font-size: 0.16rem;
}
.title {
    display: flex;
    justify-content: space-between;
    background: #454e60;
}
.title_right {
    background: #0082ef;
    display: flex;
    align-items: center;
    padding: 4px 10px;
}
.title_right span{
    color: #fff;
    font-size: 0.14rem;
    white-space: nowrap;
}
.title_right img{
    height: 0.2rem;
    margin-right: 10px;
}
.title_left {
    font-size: 0.2rem;
    background: #454e60;
    padding: 4px 20px;
    color: #fff;
}

.content {
    width: 90%;
    margin: 0 auto;
}

p {
    font-size: 0.15rem;
    line-height: 0.26rem;
    margin-top: 0.24rem;
    margin-bottom: 0.24rem;
    color: #222839;
}
h2 {
    font-size: 0.18rem;
}
h3 {
    font-size: 0.18rem;
    color: #0082ef;
    margin-top: 0.24rem;
}
.two_pix_line {
    height: 1px;
    widows: 100%;
    background: #aaa;
}
.blue_font {
    color: #0082ef;
}
.instruct {
    display: flex;
}
.instruct p{
    color: #222839;
}
.instruct_img {
    display: flex;
}
.instruct_img img {
    height: 0.15rem;
    margin: 0.2rem 10px 0 0;
}
.about p {
    font-size: 0.12rem;
    line-height: 0.18rem;
    letter-spacing: 1px;
    color: #000;
    font-weight: 300;
}
.first_content {
    border-bottom: 1px dashed #454e60;
    padding-bottom: 20px;
}
.first_content p {
    margin-top: 0.1rem;
}
.second_content h2 {
    background: #454e60;
    color: #fff;
    text-align: center;
    padding: 4px 0;
}
.second_content {
    margin-top: 30px;
}
.right_vertical_line{
    border-left: 3px solid #cccccc;
    padding-left: 20px;
}
.right_vertical_line p {
    color: #0082ef;
    margin-top: 0.08rem;
}
.third_content h2 {
    background: #454e60;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    text-indent: 0;
}
.fourth_content {
    width: 100%;
    background: #f6f6f6;
    padding: 20px 5%;
    margin-bottom: 20px;
    margin-top: 40px;
}
.fourth_content h3 {
    text-align: center;
    color: #111;

}
.fourth_content h3 span{
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    padding: 0 4px;
}

.dark_border_one_pix {
    border-bottom: 1px solid #aaa;
    display: flex;
}
.img_box{
    padding: 0 6px;
    background: #fff;
    display: inline-block;
    height: 20px;
    position: relative;
    top: 10px;
}

footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #999;
    margin-bottom: 60px;
}
footer img {
    height: 20px;
    display: -webkit-box;
}
.left_20 {
    margin-left: 20px;
}
.left_30 {
    margin-left: 30px;
}