h1, h2, p {
    color: #fff;
}

p {
    font-size: .14rem;
    line-height: 0.2rem;
    letter-spacing: 1px;
}
h1, h2 {
    text-align: centerï¼›
}
.title_main_font h2,p {
    text-align: center;
}
.title_main_font,.jianjie,.banner ul,.mian_content  {
    width: 70%;
    margin: 0 auto;
}
.title_main_font{
    margin-top: 30px;
}
.title_main_font h2{
    font-size: 0.4rem;
    letter-spacing: 4px;
}
.title_main_font p{
    margin-top: 35px;
    font-size: 0.16rem;
    letter-spacing: 3px;
}
.jianjie {
    margin-top: 110px;
}
.jianjie p {
    text-align: justify;
}
.index_title {
    padding-top: 26px;
    display: flex;
    justify-content: center;
}
.banner {
    padding:60px 0 30px 0 ;
    display: flex;
    justify-content: center;
}
.banner .ul  {
    margin: 0 10px;
    width: 70%;
    position: relative;
    overflow: hidden;
}
.banner ul{
    width: 300%;
    position: absolute;
    left: 0px;
}
.banner i  {
    color: #eee;
}
.banner ul li{
    /* display: flex; */
    float: left;
    margin-right: 10px;
}

.banner ul li:last-child {
    margin-right: 0px;
}


.banner_left{
    display: flex;
    align-items: center;
    width: 10%;
}
.banner_left i{
    /* font-size: 0.2rem; */
}
#move_left {
    justify-content: flex-end;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}

.mian_content  {
    width: 90%;
}
.main_box {
    padding: 0.14rem;
    border: 1px solid #eee;
}
.main_box .img {
    display: flex;
}
.main_box .img .first-img{
    padding-right: 10px;
}
.main_box .img img{
   width: 100%;
}
.bottom{
    height: 30px;
    width: 100%;
    transform: skew(32deg);
    background: #454e60;
    position: relative;
    left: 8px;
    z-index: 4;
}
.right {
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    overflow-y: hidden;
}
.right .right_main{
    background:#78829b; 
    height: 100%;
}
.right .right_top{
    width: 0;
    height: 0;
    border-bottom: 30px solid #78829b;
    border-right: 20px solid transparent;
}
.main_box {
    margin-right: 20px;
}
.container {
    display: flex;
    position: relative;
}
.mian_content {
    position: relative;
    z-index: 3;
    /* overflow-y: hidden; */
}
.top_title {
    top: 20px;
    height: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    font-size: 0.1rem;
}
.top_title div:first-child{
    background: #4b5363;
    height: 20px;
    line-height: 20px;
    color: #fff;
    display: flex;
    padding: 3px 10px;
}
.top_title div:first-child p{
    font-size: 14px;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    border-left: 1px solid #ddd;
    padding-left: 6px;
    letter-spacing: 2px;
    white-space:nowrap;
}
.top_title div img{
    height: 14px;
    font-size: 14px;
    margin-right: 10px;
}
.top_title div:nth-child(2){
    width: 0;
    height: 0;
    border-bottom: 20px solid  #4b5363;
    border-right: 14px solid transparent;
    margin-right: 20px;
}
.main_btn a{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 3px 10px;
    float: right;
    color: #aaa;
}
.main_btn a span{
    margin-right: 8px;
    letter-spacing: 0.01rem;
}
.m-circle {
    color: #fff;
    position: absolute;
    font-size: 0.14rem;
    left: -0.23rem;
    top: 0.1rem;
    display: flex;
    background: #0e1a32;
    border-radius: 50%;
}
.m-circle i{
    color: #fff;
    /* position: absolute; */
    font-size: 0.2rem;
    left: -0.19rem;
    top: 0.1rem;
    display: flex;
    background: #0e1a32;
    border-radius: 50%;
}
.main h1 {
    font-size: 0.2rem;
}
.main h1 span {
    /* text-indent: 0.1rem; */
    display: inline-block;
    /* padding-left:4px; */
    letter-spacing: 2px;
}
.main {
    margin-bottom: 20px;
}
.main p{
    margin-bottom: 20px;
    text-align: left;
}
body {
    background-image: url(../images/background.jpg);
    /* background: #454e60; */
    background-repeat: no-repeat;
    /* background-position: 100% 100%; */
    background-size: cover;
}
.shuoming{
    margin-top:20px;
    color:#aaa;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow : hidden;
    -webkit-box-orient: vertical;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
footer img{
    height: 0.3rem;
}