html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB"
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
strong {
    font-weight: 700;
}
h1 {
    line-height: 0.4rem;
    font-size: 0.275rem;
    font-weight: 700;
    font-family: Medium,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
