html,
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB"
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
strong {
    font-weight: 700;
}
h1 {
    font-size: 0.38rem;
    font-weight: 700;
    font-family: Medium,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
header {
    background-image: url(../images/taigu_title.jpg);
    position: relative;
    width: 100%;
    height: 64vw;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    font-size: 0;
    border: 0;
}
.c-single-header-picture__cover {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
}
.c-single-header-picture__cutter {
    width: 100%;
    position: absolute;
    z-index: 3;
    right: -0.75rem;
    bottom: -2px;
    left: 0;
    height: 20%;
    border: 0;
    background: linear-gradient(to right top,#fff calc(50% - 1px),transparent 50%)
}

.article-info .article-info__category {
    margin-bottom: 1.125rem;
    font-size: .875rem;
}

.article-info .article-info__category span {
    font-weight: 400;
    font-family: Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #7d7d7d;
}
.article-info {
    border: 0;
}
.js-main-singular{
    margin: 0 0.3rem ;
}
.article-info .article-info__category a {
    font-weight: 700;
    font-family: Medium,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #f13b03;
}
.article-info .article-info__category {
    margin-bottom: 0.125rem;
    font-size: .14rem;
}
.article-info .article-info__author {
    display: flex;
    align-items: center;
    /* padding-top: 1.5rem; */
    font-size: 0;
}
.article-info .article-info__author img {
    width: 0.56rem;
    height: 0.56rem;
    border-radius: 50%;
}
.article-info .article-info__author span a {
    display: inline-block;
    /* width: 6.25rem; */
    height: 0.8rem;
    margin-left: .12rem;
    line-height:  0.8rem;
    font-weight: 400;
    font-family: Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .32rem;
    color: #7d7d7d;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.article-info .article-info__slice {
    width: 100%;
    height: 1px;
    background: #f4f4f4;
    margin-top: 0.32rem;
}
.main-singular .entry-content {
    color: #404246;
}
.entry-content {
    clear: both;
    margin: 0;
    /* padding: 0 1rem; */
    font-size: .2rem;
    line-height: 0.35rem;
    word-wrap: break-word;
    word-break: normal;
    font-weight: 400;
    font-family: Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 0.5rem;
}

 .entry-content p {
    line-height: 0.25rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-family: Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.14rem;
    color: #121212;
    letter-spacing: .0375rem;
}
.entry-content p  img {
    width: 100%!important;
    height: 100vw;
    zoom: 1;
}
.entry-content .editor-head-quote {
    margin: .75rem 0 2.5rem 0;
    padding: 0 0.9rem;
}
.entry-content .editor-head-quote::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 0.3rem;
    background-image: url(../images/quote-icon-gray.svg);
    background-repeat: no-repeat;
    transform: scale(3);    
    position: relative;
    left: 1.5rem;
}
.entry-content .editor-head-quote p {
    /* font-size: .875rem!important; */
    color: #7d7d7d!important;
    /* line-height: 1.75rem!important;
    letter-spacing: .125rem!important; */
}